tr:nth-child(even) {
    background-color:lightblue;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr {
    padding: 10px;
    border-spacing: 1px;
}

tr:hover {
    background-color: coral;
}

table {
    border-spacing: 1px;
    margin: 1px;
    /* background-color: rgb(136, 194, 204); */
    border: 2px solid;
    /* width: 100%; */
    text-align: center;
    white-space: nowrap;
    padding: 1px;
}

th {
    background-color:darkcyan;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 1px;
    border-spacing: 1px;
}

td {
    padding: 5px;
    width: 10%;
    border: 1px solid;
    border-spacing: 1px;    
}

h1 {
  text-align: center;
}

a {
  color: blue; /* Sets the text color */
  text-decoration: none; /* Removes the underline */
  font-weight: bold; /* Makes the text bold */
  background-color: lightgray; /* Sets a background color */
  padding: 5px 10px; /* Adds padding around the link text */
  border-radius: 5px; /* Rounds the corners of the background */
  text-align: center;
}

.maplink {
   text-align: center; 
}